<template name="footer">
<!-- footer Template -->
<!-- Nicholas Sardo <nsardo@aol.com> -->
  <div class="footer-area">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 pull-right">
            <div class="footer-menu">
                <ul>
                    <li><a href="/" id="fhm">Home</a></li>
                    <li><a href="/overview" id="fov">Overview</a></li>
                    <li><a href="/pricing" id="fpr">Pricing</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-5">
          <div class="footer-left">
            <div class="footer-logo">
              <a href="#"><img src="/img/logo.png" alt=""><span class="text"><span>COLLECTIVE</span> UNIVERSITY</span></a>
            </div>
            <p>&copy; 2016 Corporate university. All Rights Reserved</p>
            <ul class="footer-link">
              <li><a href="#">Terms of Service</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
            <div class="social-links">
              <ul>
                <li><a href="https://twitter.com/collectivelms/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/CollectiveUniversity/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCr-pGzIuQKP0wKbrYolIW3w" target="_blank"><i class="fa fa-youtube"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Scripts -->

<script src="/js/bootstrap-select.min.js"></script>

</template>
