
<template name="adminDashboardLayout">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/img/favicons/manifest.json">
    <link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/img/favicons/favicon.ico">
    <meta name="msapplication-config" content="/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
		<!-- Fonts -->
    <!-- <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> -->

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600italic,700,700italic'
          rel='stylesheet'
          type='text/css'>

		<link rel="stylesheet" href="/fonts/fonts.css">

		<script src="/js/vendor/modernizr-2.8.3.min.js"></script>

		<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  </head>

  <body>
{{#if isAdmin }}

      {{#if showNewsfeed }}
      <div class="feedback-form">
          <button onclick="location.href='http://cu.collectiveinnovation.com/'">
            Share Your Feedback
          </button>

          <form action="">
              <h2>Share Your Feedback</h2>
              <textarea name=""
                        id="adminFeedback"
                        cols="30"
                        rows="10"
                        placeholder="Write feedback here..."></textarea>

              <input type="submit" value="Submit Feedback">
          </form>
      </div>
      {{/if}}

      <div class="sidebar-menu-area">
        <div class="buttons">
            <button id="open">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <button id="close">
                <span></span>
                <span></span>
            </button>
        </div>
        <div class="logo">
          <!-- {{company.logo}} -->
            <a href="#" id="logo-click"><img  src="/img/logo_d.png" alt=""></a> <!-- src="/img/logo_d.png" -->
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target=".sidebar-menu"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="profile hidden-xs">
            <div class="profile-image">
                <div class="diamond">
                    <img src="{{avatar}}" alt="">
                </div>
            </div>
            <div class="profile-text">
                <h2>Hello, {{fname}}<span>Welcome Back</span></h2>
            </div>
        </div>

        <div class="sidebar-menu collapse navbar-collapse" >
          <ul >
            <li class="menu-icon-1">
              <a id="admin-courses" href="#">
                Courses
              </a>
            </li>
            <li class="menu-icon-2">
              <a id="admin-students" href="#">
                Students
              </a>
            </li>
            <li class="menu-icon-3">
              <a id="admin-degrees" href="#">
                Degrees & Certifications
              </a>
            </li>
            <li class="menu-icon-4">
              <a id="admin-assignCourses" href="#">
                Assign Courses
              </a>
            </li>
            <li class="menu-icon-5">
              <a id="admin-analytics" href="#">
                Analytics
              </a>
            </li>
            <li class="menu-icon-6">
              <a id="admin-design" href="#" >
                Design
              </a>
            </li>
            <li class="menu-icon-7">
              <a id="admin-advanced" href="#">
                Advanced
              </a>
            </li>
            {{#if isSuperAdmin}}
            <li class="menu-icon-7">
              <a id="super-admin" href="#">
                Super Admin
              </a>
            </li>
            {{/if}}
          </ul>
        </div>
    </div>

    <div class="dashboard-header-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="search-bar">
                        <form>
                          <!-- <h2 style="color:yellow;">SCOTT: Please don't test menu items right now</h2> -->
                            <!--
                            <input style="color:blue;" type="text" placeholder="Search Students"/>

                            <select class="chosen-select" style="width: 200px;" id="search-std">
                              <option>Search Students...</option>
                              {{#with students}}
                              {{#each this}}
                                <option value="{{_id}}">{{fullName}}</option>
                              {{/each}}
                              {{/with}}
                            </select>
                            -->
                        </form>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="profile-bar">
                        <ul>
                            <li><button><img src="/img/message.png" alt=""></button></li>
                            <li><button><img src="/img/notification.png" alt=""></button></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="profile-link">
                    <a class="dropdown-toggle"
                        data-toggle="dropdown"
                        href="#"
                        role="button"
                        aria-haspopup="true"
                        aria-expanded="false">
                        <span class="diamonds">
                        <img src="{{avatar}}" alt="">
                        </span>
                        {{fname}}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a id="account-settings" href="#">Account Settings</a></li>
                        <li><a id="account-upload-photo" href="#">Upload Photo</a></li>
                        <li><a id="logout" href="#">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

      {{> Template.dynamic template=main  }}  
  {{/if}}
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-91338547-1', 'auto');
ga('send', 'pageview');

</script>

<script type='text/javascript'>
window.__lo_site_id = 74511;

(function() {
    var wa = document.createElement('script'); wa.type = 'text/javascript'; wa.async = true;
    wa.src = 'https://d10lpsik1i8c69.cloudfront.net/w.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wa, s);
  })();
</script>
  </body>
</template>