<template name="courseBuilderLayout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Course Builder</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="/img/favicon/favicon.ico">
	<link rel="apple-touch-icon-precomposed" href="img/favicon/apple-touch-icon.png">

		<!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600italic,700,700italic'
          rel='stylesheet'
          type='text/css'>

	<link rel="stylesheet" href="/fonts/fonts.css">

	<!-- <link rel="stylesheet" type="text/css" media="screen" href="https://formbuilder.online/assets/css/form-builder.min.css"> -->

	<script src="/js/vendor/modernizr-2.8.3.min.js"></script>

		<!-- <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script> -->
  </head>
<body>
<div class="dashboard-header-area">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">

        <div>
          <ul style="margin: 0;padding: 0;list-style: none;">
            <li style="display: inline-block;color: white;font-size: 18px;position: relative;">
              <a  style="color: white;" 
                  href="javascript:void(0)" 
                  id="cb-dashboard-page">
                <i class="fa fa-home"></i>
                &nbsp;&nbsp;Dashboard/
              </a>
            </li>
            <li style="display: inline-block;color: white;font-size: 18px;position: relative;">
              <a  style="color: white;" 
                  href="javascript:void(0)" 
                  id="cb-courses-page">
                Courses/
              </a>
            </li>
            <li style="display: inline-block;color: white;font-size: 18px;position: relative;color:blue;text-decoration:underline;">
              Course Builder
            </li>
          </ul>
        </div>
      
      </div><!-- col-sm-6 -->

      <div class="col-sm-6">
        <div class="profile-bar">
          <ul>
            <li>
              <button>
                <img src="/img/message.png" alt="">
              </button>
            </li>
            <li>
              <button>
                <img src="/img/notification.png" alt="">
              </button>
            </li>
          </ul>
        </div>
      </div>

    </div><!-- row -->


    <div class="row">
      <div class="profile-link">
        <a  class         = "dropdown-toggle"
            data-toggle   = "dropdown"
            href          = "#"
            role          = "button"
            aria-haspopup = "true"
            aria-expanded = "false">
              <span class="diamonds">
                <img src="{{avatar}}" alt="">
              </span>

                {{fname}}
        </a>
        <ul class="dropdown-menu">
          <li><a id="account-settings" href="#">Account Settings</a></li>
          <li><a id="account-upload-photo" href="#">Upload Photo</a></li>
          <li><a id="logout" href="#">Logout</a></li>
        </ul>
      </div>
    </div>

  </div><!-- container -->
</div><!-- dashboard-header-area -->



{{#if or isTeacher isAdmin}}
      {{> Template.dynamic template=main  }}
{{/if}}


</body>
</template>