


    
                                    
<!-- EDIT MODAL -->
<!--
<div class="search-list assign">
<div  class = "modal fade left"
      id = "delete-degree-cert"
      tabindex = "-1"
      role = "dialog"
      aria-labelledby = "myModalLabel">

  <div class="modal-dialog">
    <div class="pop-up-area students">
      <button type="button"
              id="popup-close"
              data-dismiss="modal"
              aria-label="Close">x</button>
      <div class = "popup-body">
      <br>
-->
      <!--<h2>Edit--> <!-- degree/cert --><!--</h2>-->
<!--
      <br><br><br>
        <form action="">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              
              Are you sure you want to delete this?
              <span style="color:white;"> + nm + </span>
              
            </div>
-->
          <!--</div>--><!-- row -->
<!--
          <br><br><br>
          <div class="row">
            <div class="col-sm-12 text-right">

              <input  id    = "edit-cancel"
                      type  = "submit"
                      value = "CANCEL">
                      
                      
              <input  id    = "cb-pdf-save"
                      type  = "submit"
                      value = "SUBMIT">
                      
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
-->
<!-- /EDIT modal -->

<!--
add company_id to scratch

admin::courses
course deletion needs to delete:
built_courses
assoc tests
-->