<template name = "addEditEventModal">
<!-- addEditEventModel Template -->
<!-- Nicholas Sardo <nsardo@aol.com> -->  
  <div  class           = "modal fade" 
        id              = "add-edit-event-modal" 
        tabindex        = "-1" 
        role            = "dialog" 
        aria-labelledby = "add-edit-event-modal">
      
  <div  class = "modal-dialog" 
        role  = "document">
      
    <div class = "modal-content">
      
      <div class = "modal-header">
        <button type          = "button" 
                class         = "close" 
                data-dismiss  = "modal" 
                aria-label    = "Close">
          <span aria-hidden   = "true">
            &times;
          </span>
        </button>
        
        <h4 class = "modal-title" 
            id    = "add-edit-event">
          {{modalLabel.label}} Training Event
        </h4>
        
      </div>
      
      <form id = "add-edit-event-form">
        <div class = "modal-body">
          <div class="form-group">
            
          </div>
          <div class = "form-group">
            <div class= "row">
             <!-- 
              <div class="col-xs-3 col-sm-3">
                <label>Search Students</label>
              </div>
            -->
<!--PARTICIPANTS-->              
              <div class = "col-xs-12 col-sm-6">
                <label  id  = "lbl_type" 
                        for = "type">
                  <!--Event Type-->
                  Add Attendees
                </label>
                
                <select name  = "type" 
                        class = "form-control js-states" multiple="multiple">
              
                    {{#each cntx}}
                      <option selected  = "{{#if match}} {{fullName}} {{/if}}" 
                              value     = "{{_id}}">
                        {{fullName}}
                      </option>
                    {{/each}}

                  <!--
                  <option selected = "{{selected event.type 'Birthday' }}" 
                          value="Birthday">
                    Birthday
                  </option>
                  
                  <option selected  = "{{selected event.type 'Corporate' }}" 
                          value     = "Corporate">
                    Corporate
                  </option>
                  
                  <option selected  = "{{selected event.type 'Miscellaneous' }}" 
                          value     = "Miscellaneous">
                    Miscellaneous
                  </option>
                  
                  <option selected  = "{{selected event.type 'Wedding' }}" 
                          value     = "Wedding">
                    Wedding
                  </option>
                  -->
                  
                </select>
              </div>
              <div class="col-xs-12 col-sm-6">
<!-- TIMEZONES -->  
                <label for="timezone">
                  Time Zone
                </label>
                <!-- selected event.timezone name-->
                  <select name  = "timezone" 
                          class = "form-control">
                    {{#each timezones}}
                      <optgroup label="{{group}}">
                        {{#each zones}}
                          <option selected  = "{{#if eq name event.timezone}}{{event.timezone}}{{else}}{{name}}{{/if}}"
                                  value     = "{{name}}">
                            {{name}}
                          </option>
                        {{/each}}
                      </optgroup>
                    {{/each}}
                  </select>
              </div>
            </div><!--row-->
          </div><!--form-group-->
          
          
          <div class = "form-group">
            <div class = "row">

              
<!-- EVENT START -->
              <div class="col-xs-12 col-sm-6">
                <label for = "start">
                  Event Starts
                </label>
                
                <input  type  = "date" 
                        name  = "start" 
                        class = "form-control" 
                        value = "{{event.start}}">
              </div>
              
 <!-- START TIME -->
              <div class = "col-xs-12 col-sm-6">
                <label for = "start-time">
                  Start Time
                </label>
              
                <input  type    = "time" 
                        name    = "start-time" 
                        class   = "form-control" 
                        value   = "{{event.startTime}}">
              </div> 
              
<!-- EVENT END -->
              <div class = "col-xs-12 col-sm-6">
                <label for = "end">
                  Event End
                </label>
                <!-- "{{#if event.end}}{{event.end}}{{else}}{{event.start}}{{/if}}" -->
                <input  type    = "date" 
                        name    = "end" 
                        class   = "form-control" 
                        value   = "{{event.end}}">
              </div>
              
  <!-- END TIME -->
              <div class = "col-xs-12 col-sm-6">
                <label for = "end-time">
                  End Time
                </label>
                
                <input  type    = "time" 
                        name    = "end-time" 
                        class   = "form-control" 
                        value   = "{{event.endTime}}">
              </div>             
                         
            </div><!-- row -->
          </div><!-- form-group -->

          
<!-- EVENT TITLE --> 
          <div class = "form-group">
            <label for = "title">
              Training Title
            </label>
            <input  type  = "text" 
                    name  = "title" 
                    class = "form-control" 
                    value = "{{event.title}}">
          </div>
        
<!-- EVENT DESCRIPTION -->
          <div class="form-group">
            <label for = "description">
                Training Description
              </label>
              <input  type = "text"
                      name = "description"
                      class = "form-control"
                      value = "{{event.description}}">
          </div>

<!-- EVENT LOCATION -->
          <div class="form-group">
            <label for="location">
              Training Location
            </label>
            <input  type  = "text"
                    name  = "location"
                    class = "form-control"
                    value = "{{event.location}}">
          </div>
          
<!-- COURSES
          <div class="row">
            <div class="col-xs-12 col-sm-4">

              <select id    = "t-courses" 
                      class = "form-control" multiple>
                {{#each courses}}
                  <option selected  = "{{selected event.courses _id }}"
                          value="{{_id}}">
                    {{name}}
                  </option>
                {{/each}}
              </select>
              
            </div>
            
          </div>
-->
        </div><!-- MODAL-BODY -->
        
        <div class = "modal-footer">
          {{#if modalType 'edit'}}
            <button class="btn btn-danger pull-left delete-event">Delete Event</button>
          {{/if}}
          <button type          = "button" 
                  class         = "btn btn-default" 
                  data-dismiss  = "modal">
            Cancel
          </button>
          
          <button type  = "submit" 
                  class = "btn btn-success">
            {{modalLabel.button}} Event
          </button>
        </div><!-- MODAL-FOOTER -->
        
      </form>
      
    </div><!-- MODAL-CONTENT -->
  </div><!-- class MDOAL-DIALOG -->
</div><!-- id ADD-EDIT-EVENT-MODAL -->

</template>