<template name="analytics">
<!-- adminCourses Template -->
<!-- Nicholas Sardo <nsardo@aol.com> -->
<!--
<style>
  #assign-courses-cover {position: fixed; height: 100%; width: 100%; top:0; left: 0; background: #000; z-index:9999;}
</style>
<div id="assign-courses-cover"></div>
-->
{{#if isAdmin}}
<div class="dashboard-body-area admin">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
          <img src="/img/analytics.png" alt="">
        </div>
    </div>
  </div>
</div>
{{/if}}
</template>