<template name="adminDashboard">
<!-- adminDashboard Template -->
<!-- Nicholas Sardo <nsardo@aol.com> -->
<style>
  #cover {position: fixed; height: 100%; width: 100%; top:0; left: 0; background: #000; z-index:9999;}
</style>
<div id="cover"></div>
{{#if isAdmin}}
<div class="dashboard-body-area admin">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        {{> userProfile }}

        {{#if showAdminCreditRequests }}
          {{> adminCreditRequests }}
        {{/if}}

        {{> postbox }}

        {{> newsfeed }}

      </div>
    </div>
  </div>
</div>
{{/if}}
</template>