

<template name="adminStudents">
<!--
<style>
  #students-cover {position: fixed; height: 100%; width: 100%; top:0; left: 0; background: #000; z-index:9999;}
</style>
<div id="students-cover"></div>
-->
<div class="dashboard-body-area admin">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">


  <div class="row">
    <div class="col-sm-12"><!-- 8 -->
      <div class="import-navigation">
          <ul>
              <li><a href="#" id="dashboard-page"><i class="fa fa-home"></i>Dashboard</a></li>
              <li style="color:blue;text-decoration:undeline;">Students</li>
          </ul>
      </div>
      <br />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="filter-buttons studentpage">
        <button class="js-add-student"
          type="button" 
          id="add_students" 
          data-toggle="modal" 
          data-target="#addStudentModal">
          <span>+</span>
          Add Student
        </button>
        <button id="import_student" class="js-import-students-csv">Import Students CSV</button>    
      </div><!-- filter buttons -->
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
          <div class="col-sm-6 col-sm-offset-6">
            <!-- <div class="search-box"> -->
              <form action="">
                <select id="search-students" style="width:auto;">
                  <option>Search Students...</option>
                  {{#with students}}
                  {{#each this}}
                  <option value="{{_id}}">{{fullName}}</option>
                  {{/each}}
                  {{/with}}
                </select>
                  <!--
                  <button id="search" type="search"><img src="/img/search-1.png" alt=""></button>
                  <input id="search-students" type="text" style="color:blue;" placeholder="Search Students">
                  <button id="close-search">X</button>
                  -->
              </form>
            </div>
         </div><!-- col-sm-12 -->
      </div><!-- row -->
      
      <div class="row">
          <div class="col-sm-12">
              <div class="search-list students">
                <table class="table">
                  <thead>
                    <tr>
                      <th></th>
                      <th># Of courses</th>
                      <th>Credits</th>
                      <th>Dated Added</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each students }}
                    <tr id="{{_id}}">
                      <th class="name"><span><img src="{{avatar}}" alt=""></span><a class="js-student" data-id="{{_id}}" href="#">{{fname}} {{lname}}</a></th>
                      {{#if compl_courses_cnt }}
                        <td>{{ compl_courses_cnt }}</td>
                      {{else}}
                        <td></td>
                      {{/if}}
                      {{#if current_credits}}
                        <td>{{ current_credits }}</td>
                      {{else}}
                        <td></td>
                      {{/if}}
                      <td>{{created_at}}</td>
                      <td>
                        <button class="js-edit-student" 
                                data-id="{{_id}}"
                                data-toggle="modal" 
                                data-target="#editStudentModal"
                                id="edit">
                          <img src="/img/edit.png" alt="">
                        </button>
                        <button class="js-delete-student" 
                                data-id="{{_id}}"
                                data-toggle="modal" 
                                data-target="#deleteStudentModal"
                                id="delete">
                          <img src="/img/delete.png" alt="">
                        </button>
                      </td>
                    </tr>
                   
                    {{/each}}
                  </tbody>
                </table>
                <div class="more">
                  <button><img src="/img/more.png" alt=""></button>
                </div>
              </div>
            </div>
          </div>                        
        </div>
      </div>
    </div>
  </div>




                <div  class="modal fade left" 
                      id="addStudentModal" 
                      role="dialog" 
                      aria-labelledby="myModalLabel">
                  <div class="modal-dialog">
                    <div class="pop-up-area students">
                      <button type="button" 
                              id="popup-close" 
                              data-dismiss="modal" 
                              aria-label="Close">x</button>
                      <div class="row">
                        <div class="col-sm-6" style="padding-left:10%;">
                          <h2>Add Student</h2>
                        </div>
                        <div class="col-sm-6"></div>
                        <hr />
                      </div>
                      <div class="popup-body">
                        <form action="">
                          
                          <div class="row">
                            <div class="col-sm-6">
                              <div class="input-group input-group-lg">
                                  <input class="js-fn form-control" type="text" placeholder="First Name" style="width:100%;"/>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="input-group input-group-lg">
                                <input class="js-ln form-control" type="text" placeholder="Last Name" style="width:100%;"/>
                              </div>
                            </div>
                          </div>
                          <br />
                          <div class="row">
                            <div class="col-sm-6">
                              <div class="input-group input-group-lg">
                                <input class="js-email form-control" type="text" placeholder="Email" style="width:100%;"/>
                              </div>
                            </div>
                            <div class="col-sm-6"></div>
                          </div>
                          <br />
                          <div class="row">
                            <div class="col-sm-6">
                              <select class="form-control" id="sel1" style="width:60%%;">
                                <option></option>
                                <option value="student">Student</option>
                                <option value="teacher">Teacher</option>
                                <option value="admin" >Admin</option>
                              </select>
                            </div>
                            <div class="col-sm-6">
                                <select class="js-dept form-control input-lg"></select>
                            </div>  
                          </div>
                          <br />
                          <br />
                          <div class="row">
                            <div class="col-sm-8"></div>
                            <div class="col-sm-4 text-right">
                              <input class="js-student-add-submit" type="button" value="SUBMIT">
                            </div>
                          </div>
                          
                        </form>
                      </div>
                    </div>                                         
                  </div>
                </div><!-- modal --> 
                


                <div  class="modal fade left" 
                      id="editStudentModal" 
                      role="dialog" 
                      aria-labelledby="myModalLabel">
                  <div class="modal-dialog">
                    <div class="pop-up-area students">
                      <button type="button" 
                              id="popup-close" 
                              data-dismiss="modal" 
                              aria-label="Close">x</button>
                      <div class="row">
                        <div class="col-sm-6" style="padding-left:10%;">
                          <h2>Edit Student</h2>
                        </div>
                        <div class="col-sm-6"></div>
                        <hr />
                      </div>
                      <div class="popup-body">
                        <form action="">
                          
                          <div class="row">
                            <div class="col-sm-6">
                              <div class="input-group input-group-lg">
                                <input class="js-fn form-control" type="text" placeholder="" style="width:100%;" readonly/>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="input-group input-group-lg">
                                <input class="js-ln form-control" type="text" placeholder="" style="width:100%;" readonly/>
                              </div>
                            </div>
                          </div>
                          <br />
                          <div class="row">
                            <div class="col-sm-6">
                              <div class="input-group input-group-lg">
                                <input class="js-email form-control" type="text" placeholder="" style="width:100%;"/>
                              </div>
                            </div>
                            <div class="col-sm-6"></div>
                          </div>
                          <br />
                          <div class="row">
                            <div class="col-sm-6">
                              <select class="form-control" id="sel1" name="sel1" style="width:60%%;">
                                <option></option>
                                <option value="student">Student</option>
                                <option value="teacher">Teacher</option>
                                <option value="admin" >Admin</option>
                              </select>
                            </div>
                            <div class="col-sm-6">
                                <select name="js-dept" class="js-dept form-control input-lg"></select>
                            </div>  
                          </div>
                          <br />
                          <br />
                          <div class="row">
                            <div class="col-sm-8"></div>
                            <div class="col-sm-4 text-right">
                              <input class="js-student-edit-submit" type="button" value="SUBMIT">
                            </div>
                          </div>
                          
                        </form>
                      </div>
                    </div>                                         
                  </div>
                </div><!-- modal --> 
                
                


                
                <div  class="modal fade left" 
                      id="deleteStudentModal" 
                      role="dialog" 
                      aria-labelledby="myModalLabel">
                  <div class="modal-dialog">
                    <div class="pop-up-area students">
                      <button type="button" 
                              id="popup-close" 
                              data-dismiss="modal" 
                              aria-label="Close">x</button>
                      <div class="row">
                        <div class="col-sm-6" style="padding-left:10%;">
                          <h2>Delete Student</h2>
                        </div>
                        <hr />
                      </div>
                      <div class="row">
                        <div class="col-sm-6" style="width:auto;padding-left:5%;">
                          <strong style="font-size:1.5em;">Are you sure you want to delete this student?</strong>
                        </div>
                        <div class="col-sm-6"></div>
                      </div>
                      <div class="popup-body">
                        <form action="">
                          
                          <div class="row">
                            <div class="col-sm-6">
                              <div class="input-group input-group-lg">
                                <div class="name">
                                  <span>
                                    <img id="stdimg" src="">
                                  </span>
                                </div>
                                <span id="fnln" style="color:white;font-size:2em;"></span>
                              </div>
                            </div>
                            <div class="col-sm-6"></div>
                          </div>
                          <br />
                          <br />
                          <div class="row">
                            <div class="col-sm-8"></div>
                            <div class="col-sm-4 text-right">
                              <input class="js-student-delete-submit" type="button" value="SUBMIT">
                            </div>
                          </div>
                          
                        </form>
                      </div>
                    </div>                                         
                  </div>
                </div><!-- modal --> 
</template>