<template name="adminStudents">
<!-- adminStudents Template -->
<!-- Nicholas Sardo <nsardo@aol.com> -->
<!--
<style>
  #students-cover {position: fixed; height: 100%; width: 100%; top:0; left: 0; background: #000; z-index:9999;}
</style>
<div id="students-cover"></div>
-->
{{#if isAdmin}}
<div class="dashboard-body-area admin">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">


  <div class="row">
    <div class="col-sm-12"><!-- 8 -->
      <div class="import-navigation">
          <ul>
              <li><a href="#" id="dashboard-page"><i class="fa fa-home"></i>Dashboard</a></li>
              <li style="color:blue;text-decoration:undeline;">Students</li>
          </ul>
      </div>
      <br />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="filter-buttons studentpage">
        
        <button class       = "js-add-student"
                type        = "button"
                id          = "add_students"
                data-toggle = "modal"
                data-target = "#addStudentModal">
          <span>+</span>
          Add Student
        </button>
        
        <button id    = "import_student" 
                class = "js-import-students-csv">
          Import Students CSV
        </button>
<!-- ADD STUDENT MODAL -->    

<div class="modal fade left" id = "addStudentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="pop-up-area students">
      <button type="button" id="popup-close" data-dismiss="modal" aria-label="Close">x</button>
      <br><br>
      <center><h2 style="color:white;">ADD STUDENTS</h2></center>
      <div class="popup-body">
        <br><br>
        <form action="">
          <div class="row">
            <div class="col-sm-6">
              <br>
              <input  class = "js-fn input-lg" 
                      type        = "text" 
                      placeholder = "First Name"
                      style="width:100%;">
            </div>
            <br>
            <div class="col-sm-6">
                <input  class = "js-ln input-lg" 
                        type = "text" 
                        placeholder = "Last Name"
                        style="width: 100%;">
            </div>
          </div>
          <br>
          <div class="row">
            <br>
            <div class="col-sm-6">
                <input  class = "js-email input-lg" 
                        type  = "text" 
                        placeholder = "Email"
                        style="width: 100%;">
            </div>
            
            <div class="col-sm-6">
                <select class ="form-control input-lg">
                  <option value = "admin">Admin</option>
                  <option value = "sales">Sales</option>
                  <option value = "polit bureau" >Polit Bureau</option>
                  <option value = "squirrel fancying">Squirrel Fancying</option>
                </select>
                <!--<input type="text" class="js-dept input-lg">-->
            </div>
          </div>
          <br>
          <div class="row">
            <br>
            <div class="col-sm-6">
              <select id = "sel1"  class="form-control input-lg">
                <option value = "student">Student</option>
                <option value = "teacher">Teacher</option>
                <option value = "admin" >Admin</option>
              </select>
              <!--
              <select id = "sel1"  class="js-role form-control" data-style="btn-sss">
                <option value = "student">Student</option>
                <option value = "teacher">Teacher</option>
                <option value = "admin" >Admin</option>
              </select>
              -->
            </div>
          </div>
          <div class="row">
            <br><br><br><br>
            <div class="col-sm-12 text-right">
              <input  class   = "js-add-student-submit" 
                      type    = "submit" 
                      value   = "SAVE">
            </div>
          </div>
        </form>
      </div>
    </div>                                         
  </div>
</div>

<!-- END ADD STUDENT MODAL -->
      </div><!-- filter buttons -->
    </div>
    
    <div class="col-sm-4">
        <div class="search-box">
            <form action="">
              
              <div class="col-sm-2">
              
                <!--<button id="search" type="search">--><img src="/img/search-1.png" alt=""><!--</button>-->
              
              </div>
              
              <div class="col-sm-9">
                <!-- <input type="text" placeholder="Search Material"> -->
                <select id="search-students" style="">
                  
                  {{#with students}}
                  {{#each this}}
                  <option value="{{_id}}">{{fullName}}</option>
                  {{/each}}
                  {{/with}}
                </select>
              </div>
                <!--<button id="close-search">X</button>-->
            </form>
        </div>
    </div>
    
  </div>

      <div class="row">
          <div class="col-sm-12">
              <div class="search-list students">
                <table class="table">
                  <thead>
                    <tr>
                      <th></th>
                      <th># Of courses</th>
                      <th>Credits</th>
                      <th>Dated Added</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each students }}
                    <tr id      = "{{_id}}">
                      <th class = "name">
                        <span>
                          <img src = "{{avatar}}" alt="">
                        </span>
                        <a  class   = "js-student" 
                            data-id = "{{_id}}" 
                            href    = "#">
                          {{fname}} {{lname}}
                        </a>
                      </th>
                      {{#if compl_courses_cnt }}
                        <td>{{ compl_courses_cnt }}</td>
                      {{else}}
                        <td></td>
                      {{/if}}
                      {{#if current_credits}}
                        <td>{{ current_credits }}</td>
                      {{else}}
                        <td></td>
                      {{/if}}
                      <td>{{created_at}}</td>
                      <td>
                        <button class       = "js-edit-student"
                                data-id     = "{{_id}}"
                                data-toggle = "modal"
                                data-target = "#editStudentModal"
                                id          = "edit">
                          
                          <img src = "/img/edit.png" alt="">
                        </button>
                        <button class       = "js-delete-student"
                                data-id     = "{{_id}}"
                                data-toggle = "modal"
                                data-target = "#deleteStudentModal"
                                id          = "delete">
                          
                          <img src = "/img/delete.png" alt="">
                        </button>
                      </td>
                    </tr>

                    {{/each}}
                  </tbody>
                </table>
                <div class = "more">
                  <button><img src = "/img/more.png" alt=""></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>








<div class="modal fade left" id = "editStudentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="pop-up-area students">
      <button type="button" id="popup-close" data-dismiss="modal" aria-label="Close">x</button>
      <br><br>
      <center><h2 style="color:white;">EDIT STUDENT</h2></center>
      <div class="popup-body">
        <br><br>
        <form action="">
          <div class="row">
            <div class="col-sm-6">
              <br>
                                <input  class       = "js-fn form-control input-lg" 
                                        type        = "text" 
                                        placeholder = "" 
                                        style       = "width:100%;" readonly/>
            </div>
            <br>
            <div class="col-sm-6">
                                <input  class       = "js-ln form-control input-lg" 
                                        type        = "text" 
                                        placeholder = "" 
                                        style       = "width:100%;" readonly/>
            </div>
          </div>
          <br>
          <div class="row">
            <br>
            <div class="col-sm-6">
                                <input  class       = "js-email form-control input-lg" 
                                        type        = "text" 
                                        placeholder = "" 
                                        style       = "width:100%;"/>
            </div>
            
            <div class="col-sm-6">
              <select name  = "js-dept" 
                      class = "js-dept form-control input-lg"></select>
            </div>
          </div>
          <br>
          <div class="row">
            <br>
            <div class="col-sm-6">
              <select class = "js-role form-control" 
                      name  = "js-role"></select>

            </div>
          </div>
          <div class="row">
            <br><br><br><br>
            <div class="col-sm-12 text-right">
              <input  class = "js-edit-student-submit" 
                      type  = "submit" 
                      value="SUBMIT">
            </div>
          </div>
        </form>
      </div>
    </div>                                         
  </div>
</div><!-- modal -->





<div class="modal fade left" id = "deleteStudentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="pop-up-area students">
      <button type="button" id="popup-close" data-dismiss="modal" aria-label="Close">x</button>
      <br><br>
      <center><h2 style="color:white;">DELETE STUDENT</h2></center>
      <div class="popup-body">
        <br><br>
        <form action="">
          
          <div class="row">
            <div class="col-sm-12">
              <br>
                <strong style = "font-size:1.5em;">
                  Are you sure you want to delete this student?
                </strong>
            </div>
          </div>
          <br>
          
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <center>
                <div class = "name">
                  <span>
                    <img id = "stdimg" src="">
                  </span>
                </div>
                
                <span id    = "fnln" 
                      style = "color:white;font-size:2em;">
                </span>
              </center>
            </div>
            <div class="col-sm-2"></div>
          </div>
          

          <div class="row">
            <br><br><br>
            <div class="col-sm-12 text-right">
              <input  class = "js-delete-student-submit" 
                      type  = "submit" 
                      value = "SUBMIT">
            </div>
          </div>
        </form>
      </div>
    </div>                                         
  </div>
</div><!-- modal -->
{{/if}}
</template>