<template name="assignCourses">
<!-- adminCourses Template -->
<!-- Nicholas Sardo <nsardo@aol.com> -->
<!--
<style>
  #assign-courses-cover {position: fixed; height: 100%; width: 100%; top:0; left: 0; background: #000; z-index:9999;}
</style>
<div id="assign-courses-cover"></div>
-->
{{#if isAdmin}}
<div class="dashboard-body-area admin">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12"><!-- 8 -->
            <div class="import-navigation">
              <ul>
                <li>
                  <a href="#" id="dashboard-page">
                    <i class="fa fa-home"></i>
                    Dashboard
                  </a>
                </li>
                <li style="color:blue;text-decoration:undeline;">
                  Assign Courses
                </li>
              </ul>
            </div>
            <br />
            <div class="list-title">
              <h2>Assign Courses:</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-4 col-sm-offset-8">
              <form action="">
                <select id="search-courses">
                  <option>Search Courses...</option>
                  {{#with courses}}
                    {{#each courses}}
                      <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                  {{/with}}
                </select>
                <!--
                  <button id="search" type="search"><img src="/img/search-1.png" alt=""></button>
                  <input id="search-courses" type="text" placeholder="Search Material" style="color:blue;">
                  <button id="close-search">X</button>
                -->
              </form>
            </div>
            <div class="search-list assign">
              <table class="table">
                <tbody>
                  {{#with courses}}
                    {{#each this}}
                      <tr id="{{_id}}">
                        {{#if eq type "course"}}
                        <th class="name">
                          <a href="#" class="asn-course" data-id="{{_id}}">
                            <img src="{{icon}}" alt="">{{name}}
                          </a>
                        </th>
                        {{/if}}
                        {{#if eq type "Certifications"}}
                        <th class="name">
                          <a href="#" id = "assign-cert">
                            <img src="{{icon}}" alt="">{{name}}
                          </a>
                            <div id="cert-courses"></div>
                        </th>
                        {{/if}}
                        {{#if eq type "Diplomas"}}
                        <th class="name">
                          <a href="#" id = "assign-diploma">
                            <img src="{{icon}}" alt="">{{name}}
                          </a>
                            <ul id="dip-courses"></ul>
                        </th>
                        {{/if}}
                        <td>
                          <button id="assign"
                                  data-credits  = "{{credits}}"
                                  data-name     = "{{name}}"
                                  data-icon     = "{{icon}}"
                                  data-type     = "{{type}}"
                                  data-id       = "{{_id}}">
                            Click To Assign
                          </button>
                                  <!--
                                  data-toggle="modal"
                                  data-target="#assignCourse"
                                  -->
                        </td>
                      </tr>
                    {{/each}}
                  {{/with}}
                </tbody>
              </table>
              <div class="more">
                  <button><img src="/img/more.png" alt=""></button>
              </div>
            </div>
          </div>
        </div>

<!-- abn removed -->                        
<!-- <input id="assign-due-date" type="date" class="form-control" /> -->



<!-- START MODAL -->

<div  class = "search-list assign">
<div  id              = "assign-modal" 
      class           = "modal fade left" 
      tabindex        = "-1" 
      role            = "dialog" 
      aria-labelledby = "myModalLabel">
    <div class = "modal-dialog">
      <div class = "pop-up-area students">
        <button type          = "button" 
                id            = "popup-close" 
                data-dismiss  = "modal" 
                aria-label    = "Close">x</button>
        <div class = "popup-body">
          <h2>Assign:</h2>
          <form action = "">
            <div class = "row">
              <div class = "col-sm-6">
                <div class = "single-assign">
                  <div class = "assign-title">
                    
                    <input  id    = "all-students-radio"
                            type  = "radio" 
                            name  = "checkbox" 
                            class = "css-checkbox">
                    <label id     = "all-students" 
                            class ="css-label radGroup1">
                      Assign all students
                    </label>
                    <span>OR</span>
                  </div>
                  
                    <div id="wrap-by-name" class="assign-body">
                      <select data-placeholder  = "student name" 
                              id                = "by-name" 
                              style             = "" 
                              multiple>
                        {{#with names}}
                          {{#each this}}
                            <option>{{fullName}}</option>
                          {{/each}}
                        {{/with}}
                      </select>
                    </div>
                </div>
              </div>
              
              <div class="col-sm-6">
                <div class="single-assign">
                  <div class="assign-title">
                    
                      <input  id    = "assign-by-dept-radio"
                              type  = "radio" 
                              name  = "checkbox" 
                              class = "css-checkbox">
                      <label  id    = "assign-by-dept" 
                              class = "css-label radGroup1">
                        Assign by department
                      </label>
                  </div>
                  
                  <div class="assign-body">
                    <select id                = "by-dept" 
                            style             = ""
                            data-placeholder  = "dept name" 
                            multiple>
                      {{#with dept}}
                        {{#each this}}
                      <option>{{name}}</option>
                        {{/each}}
                      {{/with}}
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 text-right">
                <!-- <input type="submit" value="SAVE"> -->
                <input  type  = "submit" 
                        class = "add-course" 
                        value = "SAVE">
              </div>
            </div>
          </form>
        </div>
      </div>                                         
    </div>
  </div>
</div>
<!-- END MODAL --> 
 
 
     </div>
    </div>
  </div>
</div>
{{/if}}
</template>