

<template name = "courseBuilderPage">
<!--
<style>
  #cover {position: fixed; height: 100%; width: 100%; top:0; left: 0; background: #000; z-index:9999;}
</style>
<div id="cover"></div>
-->
  <div class = "dashboard-header-area">
    <div class = "container">
      <div class = "row">
        <div class = "col-sm-7">
          
          <!-- SEARCH BAR -->
          <div class = "search-bar">
            <form action = "">
                <h3 style = "color:white;margin-left:10%;font-size:24px;display:inline-block;">
                  BUILDING COURSE:&nbsp;&nbsp;<span id = "course-banner"></span>
                </h3>
              <!-- <input type="text" style="color: blue;" placeholder="Search Students"> -->
              <!-- <input type="submit" value="Search"> -->
            </form>
          </div>
          <!-- END SEARCH BAR -->
          
        </div>
        <div class="col-sm-5">
          <div class="profile-bar">
            <ul>
              <li>
                <button>
                  <img src="/img/message.png" alt="">
                </button>
              </li>
              <li>
                <button>
                  <img src="/img/notification.png" alt="">
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="profile-link">

          <a  class         = "dropdown-toggle" 
              data-toggle   = "dropdown" 
              href          = "#" 
              role          = "button" 
              aria-haspopup = "true" 
              aria-expanded = "false">
                <span class="diamonds">
                  <img src="/img/profile-1.jpg" alt="">
                </span>
              
                  {{fname}}
          </a>

          <ul class="dropdown-menu">
            <li>
              <a href="javascript: void(0)">Account Settings</a>
            </li>
            <li>
              <a href="javascript: void(0)">Upload Photo</a>
            </li>
            <li>
              <a href="javascript: void(0)">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <div class="dashboard-body-area">
    
    <div class="container">
      <div class="row">
        
        <div class="sidebar-menu-area course-builder-sidebar">
          <div class="buttons">
            <button id="open">
              <span></span>
              <span></span>
              <span></span>
            </button>
            <button id="close">
              <span></span>
              <span></span>
            </button>
          </div>
          <div class="page-back-home js-back-to-home">
            <a href="#">
              <i class="fa fa-long-arrow-left"></i>
                Back To Home
            </a>
            
            <h2>Drag & Drop</h2>
          </div>
          
          <!-- COURSE BUILDER ITEMS -->
          <div class = "curse-builder-items">
            <ul>
              <li tabindex = "-1">
                <span class = "area">
                  <span style = "border:none !important;;cursor:move;" 
                        class = "image draggable ui-widget-content" 
                        data-type = "title">
                      <img src = "/img/p-icon-1.png" alt="">
                  </span>
                  TITLE
                </span>
              </li>
              <li tabindex = "-1">
                <span class = "area">
                  <span style = "border:none !important;cursor:move;" 
                        class = "image draggable ui-widget-content" 
                        data-type = "text">
                    <img src = "/img/p-icon-2.png" alt="">
                  </span>
                  TEXT
                </span>
              </li>
              <li tabindex = "-1">
                <span class = "area">
                  <span style = "border:none !important;" 
                        class = "image draggable ui-widget-content" 
                        data-type = "image">
                    <img src = "/img/p-icon-3.png" alt="">
                  </span>
                  IMAGES
                </span>
              </li>
              <li tabindex = "-1">
                <span class = "area">
                  <span style = "border:none !important;" 
                        class = "image draggable ui-widget-content" 
                        data-type = "video">
                    <img src = "/img/p-icon-4.png" alt="">
                  </span>
                  VIDEOS
                </span>
              </li>
              <li tabindex = "-1">
                <span class = "area">
                  <span style = "border:none !important;" 
                        class = "image draggable ui-widget-content" 
                        data-type = "pdf">
                    <img src = "/img/p-icon-5.png" alt="">
                  </span>
                  PDF
                </span>
              </li>
              <li tabindex = "-1">
                <span class = "area">
                  <span style = "border:none !important;" 
                        class = "image draggable ui-widget-content" 
                        data-type = "powerpoint">
                    <img src = "/img/p-icon-6.png" alt="">
                  </span>
                  POWERPOINT
                </span>
              </li>
              <li tabindex = "-1">
                <span class = "area">
                  <span style = "border:none !important;" 
                        class = "image draggable ui-widget-content" 
                        data-type = "scorm">
                    <img src = "/img/p-icon-7.png" alt="">
                  </span>
                  SCORM
                </span>
              </li>
              <li tabindex = "-1">
                <span class = "area">
                  <span style = "border:none !important;" 
                        class = "image draggable ui-widget-content" 
                        data-type = "test">
                    <img src = "/img/p-icon-8.png" alt="">
                  </span>
                  TEST
                </span>
              </li>
            </ul>
          </div>
        </div>  
        <div class = "col-sm-12 col-md-12">

            <div  id = "fb-template" 
                  class = "curse-builder-box">
            </div>
            <div id = "media-enter"></div>

        </div>
        <div class="col-md-3 col-sm-3"></div>
        <div class="col-md-6 col-sm-6">
                      <div  class = "" 
                  id = "cb-pdf-disp" 
                  style = "margin:0;padding:0;display:inline-block;">
            </div>
        </div>
        <div class="col-md-3 col-sm-3"></div>
      </div>
    </div>
  </div>

  <div class = "dashboard-body-area footer-page cb-footer">
    <div class = "container">
      <div class = "row">
        <div class = "col-sm-6">
          <div class = "footer-filter">
            <h2>Page {{page}}/{{total}} 
              <button class = "up">
                <i class = "fa fa-arrow-up"></i>
              </button>
              <button class = "down">
                <i class = "fa fa-arrow-down"></i>
              </button>
            </h2>
          </div>
        </div>
        <div class = "col-sm-6">
          <div class = "save-button">
            <button id = "cb-save">Save Course</button>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- IMAGE MODAL -->
    <div  class="modal fade left" 
          id="add-image" 
          tabindex="-1" 
          role="dialog" 
          aria-labelledby="myModalLabel">

      <div class="modal-dialog">
        <div class="pop-up-area">
          <button type="button" 
                  id="popup-close" 
                  data-dismiss="modal" 
                  aria-label="Close">x</button>

          <div class="popup-body" style="top: 20%;">

          <h3 style="color:white;">ADD IMAGE:</h3>
            <form action="">
              <div class="row">
                <div class="col-sm-4">
                  <span style="margin-left: 50px;">
                    <em>
                      <strong>UPLOAD IMAGE:</strong>
                    </em>
                  </span>
                </div>
                <div class="col-sm-7">

                  <input  type="file" 
                          id="course-builder-image" />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="image-preview"></div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 text-right">

                  <input  id="cb-image-save"
                          type="submit" 
                          value="SUBMIT">
                </div>
              </div>
            </form>
          </div>
        </div>                                         
      </div>
    </div><!-- modal -->



<!-- PDF MODAL -->
    <div  class="modal fade left" 
          id="add-pdf" 
          tabindex="-1" 
          role="dialog" 
          aria-labelledby="myModalLabel">

      <div class="modal-dialog">
        <div class="pop-up-area">
          <button type="button" 
                  id="popup-close" 
                  data-dismiss="modal" 
                  aria-label="Close">x</button>
          <div class="popup-body" style="top: 20%;">
          <h3 style="color:white;">ADD PDF:</h3>
            <form action="">
              <div class="row">
                <div class="col-sm-4">
                  <span style="margin-left:50px;">
                    <em>
                      <strong>UPLOAD PDF</strong>
                    </em>
                  </span>
                </div>
                <div class="col-sm-7">

                  <input  type="file" 
                          id="course-builder-pdf" />
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 text-right">

                  <input  id="cb-pdf-save" 
                          type="submit" 
                          value="SUBMIT">
                </div>
              </div>
            </form>
          </div>
        </div>                                         
      </div>
    </div><!-- modal -->



<!-- POWERPOINT MODAL -->
    <div  class="modal fade left" 
          id="add-powerpoint" 
          tabindex="-1" 
          role="dialog" 
          aria-labelledby="myModalLabel">

      <div class="modal-dialog">
        <div class="pop-up-area">
          <button type="button" 
                  id="popup-close" 
                  data-dismiss="modal" 
                  aria-label="Close">x</button>

          <div class="popup-body" style="top: 20%;">
          <h3 style="color:white;">ADD POWERPOINT:</h3>
            <form action="">
              <div class="row">
                <div class="col-sm-4">
                  <span style="margin-left:10px;">
                    <em>
                      <strong>UPLOAD POWERPOINT</strong>
                    </em>
                  </span>
                </div>
                <div class="col-sm-7">

                  <input  type="file" 
                          id="course-builder-powerpoint" />
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 text-right">

                  <input  id="cb-powerpoint-save" 
                          type="submit" 
                          value="SUBMIT" />
                </div>
              </div>
            </form>
          </div>
        </div>                                         
      </div>
    </div><!-- modal -->



<!-- SCORM MODAL -->
    <div  class="modal fade left" 
          id="add-scorm" 
          tabindex="-1" 
          role="dialog" 
          aria-labelledby="myModalLabel">

      <div class="modal-dialog">
        <div class="pop-up-area">

          <button type="button" 
                  id = "popup-close" 
                  data-dismiss="modal" 
                  aria-label="Close">x</button>

          <div class = "popup-body" style="top: 20%;">
            <h3 style="color:white;">ADD SCORM:</h3>
            <form action="">
              <div class="row">
                <div class="col-sm-4">
                  <span style="margin-left:50px;">
                    <em>
                      <strong>UPLOAD SCORM</strong>
                    </em>
                  </span>
                </div>
                <div class="col-sm-7">

                  <input  type="text" 
                          id="course-builder-scorm" />
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 text-right">

                  <input  id="cb-scorm-save" 
                          type="submit" 
                          value="SUBMIT">
                </div>
              </div>
            </form>
          </div>
        </div>                                         
      </div>
    </div><!-- modal -->



<!-- TEST MODAL -->
    <div  class="modal fade left" 
          id="add-test" 
          tabindex="-1" 
          role="dialog" 
          aria-labelledby="myModalLabel">

      <div class="modal-dialog">
        <div class="pop-up-area">
          <button type="button" 
                  id="popup-close" 
                  data-dismiss="modal" 
                  aria-label="Close">x</button>
          <div class="popup-body" style="top: 20%;">
          <h3 style="color:white;">ADD TEST:</h3>
            <form action="">
              <div class="row">
                <div class="col-sm-4">
                  <span style="margin-left: 50px;">
                    <em>
                      <strong>SELECT TEST:</strong>
                    </em>
                  </span>
                </div>
                <div class="col-sm-7">
                  <input type="file" id="course-builder-test"/>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 text-right">
                  <input id="cb-test-save" type="submit" value="SUBMIT">
                </div>
              </div>
            </form>
          </div>
        </div>                                         
      </div>
    </div><!-- modal -->



<!-- INTRO MODAL -->
    <div  class="modal fade left" 
          id="intro-modal" 
          tabindex="-1" 
          role="dialog" 
          aria-labelledby="myModalLabel">

      <div class="modal-dialog">
        <div class="pop-up-area">
          <button type="button" 
                  id="popup-close" 
                  data-dismiss="modal" 
                  aria-label="Close">x</button>

          <div class = "popup-body" style="top: 30%;">
          <h3 style = "color:white;">NEW COURSE</h3>
          <br />
            <form action = "">

              <div class = "row">
                <div class = "col-sm-6">
                  <div class="input-group input-group-lg">
                  <span style = "color:black;">
                    <!-- <em> -->
                      <strong>Please choose a course name:</strong>
                    <!-- </em> -->
                  </span>
                  <br />

                  <input  style = "width:100%;margin-top:2%;" 
                          class = "form-control"
                          type  = "text" 
                          id    = "course-builder-name" />

                </div>
                </div>
                <div class="col-sm-6">
                  <span class="color:black;">
                    <!-- <em> -->
                      <strong>Keywords:</strong>
                    <!-- </em> -->
                  </span>
                  <br />

                    <select id="tags"  multiple>
                      <option></option>
                    </select>

              </div>
              <br /><br />
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <br />
                  <div class="input-group input-group-lg">

                  <span style="color:black;">
                    <!-- <em> -->
                      <strong>How many credits for this course?</strong>
                    <!-- </em> -->
                  </span>
                  <br />
                  <input  style="width:50%;margin-top:2%;"
                          class="form-control" 
                          type="number" 
                          id="course-builder-credits"
                          min=".5" 
                          max="120" 
                          step="0.1"
                          onInput="return check(event,value)"/>
                </div>
                </div>
                <br />
                <div class = "col-sm-6" style = "display:inline-block;"> 
                  <div class="input-group input-group-lg">               
                    <span style = "color:black;">
                      <!-- <em> -->
                        <strong>Passing percentage for tests:</strong>
                      <!-- </em> -->
                    </span>
                
                <br />
                
                    <input  style   = "width:50%;margin-top:2%;" 
                            type    = "number" 
                            onInput = "return check(event,value)"
                            id      = "course-builder-percent"
                            min     = "0" 
                            max     = "100" 
                            step    = "0.01"
                            class   = "form-control" />           
                </div>
              </div>
              </div>

              <div class="row">
                <div class="col-sm-12 text-right">

                  <input  id="new-course-save" 
                          type="submit" 
                          value="SUBMIT">

                </div>
              </div>
            </form>
          </div>
        </div>                                         
      </div>
    </div><!-- modal -->

<script type="text/javascript">
  check = function ( e, value ) {
    if ( !e.target.validity.valid ) {
        e.target.value = value.substring( 0, value.length - 1 );
        return false;
    }
    var idx = value.indexOf( '.' );
    if ( idx >= 0 && value.length - idx > 3 ) {
        e.target.value = value.substring( 0, value.length - 1 );
        return false;            
    }
    return true;
  }

</script>
</template>