<template name="home">
<!-- home Template -->
<!-- Nicholas Sardo <nsardo@aol.com> -->
<style>
  #cover {position: fixed; height: 100%; width: 100%; top:0; left: 0; background: #000; z-index:9999;}
</style>
<div id="cover"></div>


  <div class="slider-area">
    <div class="single-slider">
      <div class="slider-image">
          <a href="/overview" ><img src="/img/slider-1.jpg" alt=""></a>
      </div>

            </div>
            <div class="single-slider">
                <div class="slider-image">
                    <a href="/overview" ><img src="/img/slider-2.jpg" alt=""></a>
                </div>

            </div>
    		<div class="single-slider">
    			<div class="slider-image">
    				<a href="/overview" ><img src="/img/slider-3.jpg" alt=""></a>
    			</div>

    		</div>
    		<div class="single-slider">
    			<div class="slider-image">
    				<a href="/overview" ><img src="/img/slider-4.jpg" alt=""></a>
    			</div>

    		</div>
    	</div>

    	<div class="promotion-area">
    		<div class="container">
    			<div class="row">
    				<div class="col-sm-6">
    					<div class="promotion-content">
    						<h2>WHY Collective <em>University</em></h2>
    						<p>We’re more than just a module based learning platform, Collective University is your own online univertsity to give your organization a path to its development goals. Create degrees and certifications, track offlline learning and  encourage sharing of knowledge internally. </p>
    						<!-- <a href="https://www.dropbox.com/s/q4ojdaj3w14h4s3/Screenshot%202016-10-22%2007.11.33.png?dl=0"><img src="/img/icon.png" alt=""> -->
    						<a href="/overview">Details</a>
    					</div>
    				</div>
            <div class="col-sm-6">
                <div class="video-promotion">
                    <div class="video-buttons">
                        <img src="/img/video.png" alt="">
                        <!-- <a rel="prettyPhoto" href="https://www.youtube.com/watch?v=QNUSIOMb6vI"> -->
                        <!-- <a href="https://vimeo.com/203209447" rel="prettyPhoto" title=""> -->
                        <a href="https://player.vimeo.com/video/203209447" data-width="700" data-height="444" data-toggle="lightbox"><img src="/img/button.png" alt=""></a>
                    </div>
                </div>
            </div>
    			</div>
    		</div>
    	</div>

    	<div class="signup-area">
    		<div class="container">
    			<div class="row">
    				<div class="col-sm-12">
    					<div class="signup-form">
    						<h2>Request a Tour <!-- demo or signup for a 30-day free trial --></h2>
    						<p>Build your own online university in minutes, no credit card required.</p>
    						<form action="">
    							<input  type="email"
                          placeholder="Enter Your Email ....."
                          style="color: DarkBlue">
    							<!-- <input type="submit" value="Create Account"> -->
    							<a href="https://calendly.com/collectiveinnovation/collective-university/">Request A Tour<!-- Demo --></a>
    						</form>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>

    	<div class="course-area">
    		<div class="container">
    			<div class="row">
    				<div class="col-sm-12">
    					<div class="course-title">
    						<h2>Developmental Innovation</h2>
    						<p>A completely customizable real online university for your organization.  Create degrees, and certifications set required number of credits.
    						Setup onboarding programs for new employees or for people moving into management positions.  </p>
    					</div>
    				</div>
    			</div>
    		</div>
    		<div class="container-fluid">
    			<div class="row">
            <div class="col-sm-4">
              <div class="single-course">
                <div class="single-course-image color-1">
                    <img src="/img/curse-1.jpg" alt="">
                </div>
                <div class="single-course-content">
                  <div class="site-title-table padding-30">
                    <div class="site-title-tablecell">
                      <h2>Track All Online & Offline Learning</h2>
                      <div class="course-content">
                        <p>We recognize that learning comes from many sources. Employees can request credit for conferences, in-house training and certifications outside the system. We automatically track credit for meetings scheduled through our training calendar and for articles delivered directly to your employees.</p>
                      </div>
                      <a href="/overview">LEARN MORE</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="single-course">
                <div class="single-course-image color-2">
                  <img src="/img/curse-2.jpg" alt="">
                </div>
                <div class="single-course-content">
                  <div class="site-title-table padding-30">
                    <div class="site-title-tablecell">
                      <h2>Drag & Drop Course Builder</h2>
                      <div class="course-content">
                        <p>Creating new courses is easy, just drag and drop: insert PDFs, slideshows and create tests. You can also import your pre-existing SCORM courses or choose from our library of classes.</p>
                      </div>
                      <a href="/overview">LEARN MORE</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="single-course">
                <div class="single-course-image color-3">
                  <img src="/img/curse-3.jpg" alt="">
                </div>
                <div class="single-course-content">
                  <div class="site-title-table padding-30">
                    <div class="site-title-tablecell">
                      <h2>Training Calendar</h2>
                      <div class="course-content">
                        <p>In-house training meetings can be scheduled from within your university. Invites are sent automatically and credit is        tracked for attendance. </p>
                      </div>
                      <a href="/overview">LEARN MORE</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="single-course">
                <div class="single-course-image color-4">
                  <img src="/img/curse-4.jpg" alt="">
                </div>
                <div class="single-course-content">
                  <div class="site-title-table padding-30">
                    <div class="site-title-tablecell">
                      <h2>Complete Customization</h2>
                      <div class="course-content">
                        <p>It's your university, you can completely control the look and feel. Upload your logo, change the colors, use your own domain name. Your University belongs to you. </p>
                      </div>
                      <a href="/overview">LEARN MORE</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="single-course">
                <div class="single-course-image color-5">
                  <img src="/img/curse-5.jpg" alt="">
                </div>
                  <div class="single-course-content">
                    <div class="site-title-table padding-30">
                      <div class="site-title-tablecell">
                        <h2>No PhD Required</h2>
                        <div class="course-content">
                          <p>Extremely easy to use, you’ll have your own online university running in less than an hour.</p>
                        </div>
                        <a href="/overview">LEARN MORE</a>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          <div class="col-sm-4">
            <div class="single-course">
              <div class="single-course-image color-6">
                  <img src="/img/curse-6.jpg" alt="">
              </div>
              <div class="single-course-content">
                <div class="site-title-table padding-30">
                  <div class="site-title-tablecell">
                    <h2>Students as Teachers</h2>
                    <div class="course-content">
                      <p>Fill in your companies knowledge gaps by allowing those employews who have a special skill to become teachers and get credit to  conduct training or build a course for your university.</p>
                    </div>
                    <a href="/overview">LEARN MORE</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
    			</div>
    			<div class="row">
    				<div class="col-sm-12">
    					<div class="curse-link">
    					  <a href="https://calendly.com/collectiveinnovation/collective-university/">Request a Tour</a>
    						<!-- <a href="#">Build Your University</a> -->
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>

    	<div class="sponser-area">
    		<div class="container">
    			<div class="row">
    				<div class="col-sm-12">
    					<div class="sponsor-title">
    						<h2>TRUSTED BY</h2>
    					</div>
    					<div class="sponsor-list">
    						<ul>
    						  <li><img src="/img/IdeaManagement.png" alt=""></li>
    						  <li><img src="/img/KeoPost.jpg" alt=""></li>
    						  <li><img src="/img/Talent-Management.png" alt=""></li>
    						  <li><img src="/img/Web-design.png" alt=""></li>
    						  <li><img src="/img/IdeaManagement.png" alt=""></li>
    						  <li><img src="/img/KeoPost.jpg" alt=""></li>
    						  <li><img src="/img/Talent-Management.png" alt=""></li>
    						  <li><img src="/img/Web-design.png" alt=""></li>
    						  <!--
                  <li><img src="/img/sponsr-1.png" alt=""></li>
                  <li><img src="/img/sponsr-2.png" alt=""></li>
                  <li><img src="/img/sponsr-3.png" alt=""></li>
                  <li><img src="/img/sponsr-4.png" alt=""></li>
                  <li><img src="/img/sponsr-5.png" alt=""></li>
                  <li><img src="/img/sponsr-6.png" alt=""></li>
    							<li><img src="/img/sponsr-1.png" alt=""></li>
    							<li><img src="/img/sponsr-2.png" alt=""></li>
    							<li><img src="/img/sponsr-3.png" alt=""></li>
    							<li><img src="/img/sponsr-4.png" alt=""></li>
    							<li><img src="/img/sponsr-5.png" alt=""></li>
    							<li><img src="/img/sponsr-6.png" alt=""></li>
    							-->
    						</ul>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>

    	<div class="newsletter-area">
    		<div class="container">
    			<div class="row">
    				<div class="col-sm-3">
    					<div class="newsletter-title">
    						<h2>Newsletter <span>Subscribe</span></h2>
    					</div>
    				</div>
    				<div class="col-sm-9">
    					<div class="newsletter">
    						<form action="">
    							<input type="email"
                         placeholder="Enter Your Email...."
                         style="color: DarkBlue">
    							<input type="submit" value="Subscribe">
    						</form>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>

      <script>
        $('#home').addClass("active").siblings().removeClass('active');
        $(document).ready(function(){
          $(this).scrollTop(0);
        });
      </script>
</template>
