<template name = "overview">
<!-- overview Template -->
<!-- Nicholas Sardo <nsardo@aol.com> -->
  <div class="banner-area">
      <div class="container">
          <div class="row">
              <div class="col-sm-12">
                  <div class="banner-text">
                      <h2>
                        Full Cycle Learning System
                      </h2>
                      <p>
                        Your Corporate University allows continuous learning to help you perform at peak excellence.
                      </p>
                      <h3>
                        <a  target="_blank" href="https://calendly.com/collectiveuniversity/collective-university-demo">
                          Request Tour
                        </a> <!-- Or <a href="#">Free Trial</a> -->
                      </h3>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="overview-area saprator">
      <div class="container">
          <div class="row">
              <div class="col-sm-5 pull-right">
                  <div class="overview-thumbnail">
                      <img  src="/img/overview-1.jpg" 
                            alt="">
                  </div>
              </div>
              <div class="col-sm-7">
                  <div class="overview-text">
                      <h2>
                        Real Online 
                        <span>
                          University
                        </span>
                      </h2>
                      <p>
                        Create degrees and certifications, and require a particular number of credits to be completed each semester or year. Set up onboarding programs for new employees or for people moving into management positions. Investing in your people has the highest return, in fact a study from the American Society for Training and Development found that just a $525 yearly increase in developmental training per employee led to: 57% higher sales per employee and a 37% higher gross profit per employee.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="overview-area">
      <div class="container">
          <div class="row">
              <div class="col-sm-5 pull-right">
                  <div class="overview-thumbnail">
                      <img  src="/img/overview-2.jpg" 
                            alt="">
                  </div>
              </div>
              <div class="col-sm-7">
                  <div class="overview-text">
                      <h2>
                        Drag & Drop 
                        <span>
                          Course Builder
                        </span>
                      </h2>
                      <p>
                        Creating new courses is easy. Just drag and drop to insert PDFs or design slideshows and tests. You can also import your pre-existing SCORM courses or choose from our library of classes.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="overview-area brown">
      <div class="container">
          <div class="row">
              <div class="col-sm-5 pull-right">
                  <div class="overview-thumbnail">
                      <img  src="/img/Learning-Management-System.jpg" 
                            alt="">
                  </div>
              </div>
              <div class="col-sm-7">
                  <div class="overview-text">
                      <h2>
                        Track All Online & 
                        <span>
                          Off-line Learning
                        </span>
                      </h2>
                      <p>
                        Unlike other learning management systems, we recognize that learning comes from many sources. Employees can easily request credit for conferences, in-house training, and certifications outside the system. We automatically track credit for meetings scheduled through our training calendar and for articles delivered directly to your employees.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="overview-area">
      <div class="container">
          <div class="row">
              <div class="col-sm-5 pull-right">
                  <div class="overview-thumbnail">
                      <img  src="/img/Business-School.jpg" 
                            alt="">
                  </div>
              </div>
              <div class="col-sm-7">
                  <div class="overview-text">
                      <h2>
                        Automated 
                        <span>
                          Articles
                        </span>
                      </h2>
                      <p>
                        Staying up to date on the latest trends and tools for your industry and specialty is challenging. We remove this obstacle by automatically curating the best articles and delivering them directly into your students’ newsfeeds based on your field. We also provide credit for those who read these articles. 
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="overview-course-area">
      <div class="container">
          <div class="row">
              <div class="col-sm-12">
                  <div class="overview-course-text">
                      <h2>
                        STUDENT COURSE DEMO
                      </h2>
                      <a  rel="prettyPhoto"  
                          href="https://www.youtube.com/watch?v=QNUSIOMb6vI">
                        <img  src="/img/button-2.png" 
                              alt="">
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="overview-area">
      <div class="container">
          <div class="row">
              <div class="col-sm-5 pull-right">
                  <div class="overview-thumbnail">
                      <img  src="/img/overview-5.jpg" 
                            alt="">
                  </div>
              </div>
              <div class="col-sm-7">
                  <div class="overview-text">
                      <h2>
                        Training 
                        <span>
                          Calendar
                        </span>
                      </h2>
                      <p>
                        Schedule in-house training meetings from within your own university. Invites are sent automatically and credit is tracked for attendance.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="overview-area brown">
      <div class="container">
          <div class="row">
              <div class="col-sm-5 pull-right">
                  <div class="overview-thumbnail">
                      <img  src="/img/overview-6.jpg" 
                            alt="">
                  </div>
              </div>
              <div class="col-sm-7">
                  <div class="overview-text">
                      <h2>
                        Complete 
                        <span>
                          Customization
                        </span>
                      </h2>
                      <p>
                        It's your university - you can completely control the look and feel of your campus. Upload your logo, change the colors, and use your own domain name. Your university belongs to you.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="overview-area saprator">
      <div class="container">
          <div class="row">
              <div class="col-sm-5 pull-right">
                  <div class="overview-thumbnail">
                      <img  src="/img/elearning-platform-teachers.jpg" 
                            alt="">
                  </div>
              </div>
              <div class="col-sm-7">
                  <div class="overview-text">
                      <h2>
                        Students Become 
                        <span>
                          Teachers
                        </span>
                      </h2>
                      <p>
                        Every organization has people who exclusively possess a special skill or knowledge that others don't. With your own Corporate University you can turn your talented team players into teachers. Allow those with mastered skills to schedule trainings or build courses, filling in that knowledge gap within the organization and automatically giving credit those who deserve it.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="overview-area">
      <div class="container">
          <div class="row">
              <div class="col-sm-5 pull-right">
                  <div class="overview-thumbnail">
                      <img  src="/img/overview-8.jpg" 
                            alt="">
                  </div>
              </div>
              <div class="col-sm-7">
                  <div class="overview-text">
                      <h2>
                        Analytics
                      </h2>
                      <p>
                        See at a glance how your organization is doing to reach its development goals. In one click you can view whose certifications are expiring and which employees have the right knowledge for a new role.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="course-area overview">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="features-title">
            <h2>
              Features
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
            <div class="single-course">
                <div class="single-course-image color-1">
                    <img  src="/img/curse-7.jpg" 
                          alt="">
                </div>
                <div class="single-course-content">
                    <div class="site-title-table padding-30">
                        <div class="site-title-tablecell">
                            <a href="#">
                              No PhD required - Easy To Use
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="single-course">
                <div class="single-course-image color-2">
                    <img  src="/img/curse-8.jpg" 
                          alt="">
                </div>
                <div class="single-course-content">
                    <div class="site-title-table padding-30">
                        <div class="site-title-tablecell">
                            <a href="#">
                              SCORM Import
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="single-course">
                <div class="single-course-image color-3">
                    <img  src="/img/curse-9.jpg" 
                          alt="">
                </div>
                <div class="single-course-content">
                    <div class="site-title-table padding-30">
                        <div class="site-title-tablecell">
                            <a href="#">
                              Automated Email Notifications
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="single-course">
                <div class="single-course-image color-4">
                    <img  src="/img/curse-10.jpg" 
                          alt="">
                </div>
                <div class="single-course-content">
                    <div class="site-title-table padding-30">
                        <div class="site-title-tablecell">
                            <a href="#">
                              DeepTalent Integration
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="single-course">
                <div class="single-course-image color-5">
                    <img  src="/img/curse-11.jpg" 
                          alt="">
                </div>
                <div class="single-course-content">
                    <div class="site-title-table padding-30">
                        <div class="site-title-tablecell">
                            <a href="#">
                              Certification Management
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="single-course">
                <div class="single-course-image color-6">
                    <img  src="/img/curse-12.jpg" 
                          alt="">
                </div>
                <div class="single-course-content">
                    <div class="site-title-table padding-30">
                        <div class="site-title-tablecell">
                            <a href="#">
                              University Newsfeed
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="signup-area overview">
      <div class="container">
          <div class="row">
              <div class="col-sm-12">
                  <div class="signup-form">
                      <h2>
                        Request a Tour <!-- demo or signup for a 30-day free trial -->
                      </h2>
                      <p>
                        Build your own online university in minutes, no credit card required.
                      </p>
                      <form action="">
                          <input  type="email" 
                                  placeholder="Enter Your Email .....">
                          <!-- <input type="submit" value="Create Account"> -->
                          <a  target="_blank" href="https://calendly.com/collectiveuniversity/collective-university-demo">
                            Request A Tour <!-- Demo -->
                          </a>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="newsletter-area">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="newsletter-title">
            <h2>
              Newsletter
              <span>
                Subscribe
              </span>
            </h2>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="newsletter">
            <form action="">
              
              <input  type="email"
                      placeholder="Enter Your Email...."
                      style="color: DarkBlue">
                      
              <input  type="submit" 
                      value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    
    $(document).ready(function(){
      $('#overview').addClass("active").siblings().removeClass('active');
      $(this).scrollTop(0);
      
      $('.logo').click(function(){
        var loc = location.protocol + "//" + location.hostname;
        window.location.href = loc;
      });
    });
    
  </script>
</template>