
<template name="postSignup">
  <div class="jumbotron">
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading"><span style="color: Blue;">Congratulations!</span></div>
          <div class="panel-body">
            <p style="color: Blue;">We're now creating your University. In order to login please check your email and click the verification link. If you can't find it make sure to check your spam box.</p>
        </div>
      </div>
    </div>
  </div>
</template>