
<template name="pricing">

  <div class="banner-area pricing">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="banner-text">
            <h2>Pricing</h2>
            <p>30-day free trial, no credit card required.</p>
            <h3><a href="https://calendly.com/collectiveinnovation/collective-university/">Request Tour</a> <!-- Or <a href="#">Free Trial</a> --></h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pricing-area">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="pricing-title">
              <h2>All Plans</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          <div class="single-pricing">
            <div class="single-pricing-title">
                <h2>Small Business</h2>
            </div>
            <div class="single-pricing-body">
                <h2>50 Students</h2>
                <p><span>$5 Per User / Month</span></p>
                <p>$250 month</p>
                <p>$2500 Per Year <small>(16% Discount)</small></p>
            </div>
            <div class="single-pricing-footer">
                <!-- <a href="#">Start 30 Day Free Trial</a> -->
                <a href="https://calendly.com/collectiveinnovation/collective-university/">Request a Tour</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="single-pricing growing">
            <div class="single-pricing-title">
              <h2>Growing Business</h2>
            </div>
            <div class="single-pricing-body">
                <h2>200 Students</h2>
                <p><span>$4 Per User / Month</span></p>
                <p>$800 month</p>
                <p>$8000 Per Year <small>(16% Discount)</small></p>
            </div>
            <div class="single-pricing-footer">
                <!-- <a href="#">Start 30 Day Free Trial</a> -->
                <a href="https://calendly.com/collectiveinnovation/collective-university/">Request a Tour</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="single-pricing enterprise">
            <div class="single-pricing-title">
                <h2>Enterprise</h2>
            </div>
            <div class="single-pricing-body">
                <h2>1000 Students</h2>
                <p><span>$3 Per User / Month</span></p>
                <p>$3000 month</p>
                <p>$30000 Per Year <small>(16% Discount)</small></p>
            </div>
            <div class="single-pricing-footer">
                <!-- <a href="#">Start 30 Day Free Trial</a> -->
                <a href="https://calendly.com/collectiveinnovation/collective-university/">Request a Tour</a>
                <p>Additional users only $2/month</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="promotions-area">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="promotions">
            <h2>Need help getting started? We're here for you.</h2>
            <a href="#">CONTACT US</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="newsletter-area">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="newsletter-title">
            <h2>Newsletter <span>Subscribe</span></h2>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="newsletter">
            <form action="">
              <input  type="email"
                      placeholder="Enter Your Email...."
                      style="color: DarkBlue">
              <input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $('#pricing').addClass("active").siblings().removeClass('active');
    $(document).ready(function(){
      $(this).scrollTop(0);
    });
  </script>
</template>
